
* {
  box-sizing: border-box;

}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.pinned {
  fill: green;
}

#map {
  position:absolute;
  height: 100%;
  width: 85%;
  top: 0%;
  bottom: 0%;
  left: 15%;
  right: 15%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#dashboard {
  top: 0%;
  width: 15%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #808080;
  position: absolute;
  bottom: 0;
  overflow: auto;
  border-right: .1rem solid black;
  font-family: sans-serif;
  font-size: .75rem;
}

#dashTitle {
  font-size: 1rem;
  text-align: center;
}

#appSummary {
  margin: .5rem;
  font-size: .5rem;
}

#selector_container{
  margin: 1rem;
}

#select_menu{
  display: inline-block;
}

#layer_selector{
  padding-bottom: 1rem;
  font-size: .5rem;
}

.selector{
  margin-right: 1rem;
}



#legend{
  font-family: sans-serif;
  border: .1rem solid black;
  background: #808080;
  padding: 0;
  margin: 0;
  position: absolute;
  right:2.5%;
  bottom:5%;
  z-index: 2;
  overflow:hidden;

}


#legendTitle{
  text-align:center;
  text-transform:uppercase;
  text-decoration: underline;
  font-size: .6rem;
}

#originClasses {
  margin: .5rem;
  padding: 0rem;
  text-align: center;
  list-style-type: none;

}

#originClasses li {
  margin-bottom: 6px;
  font-size:.4rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

#categoryTitle{
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: .5rem;
  text-align:center;
}



#Cuban #cb1{
  background-color: blue;
}

.classBreak{
  width: .75rem;
  height: .5rem;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  box-sizing: border-box;
}

.popUp {
  text-transform: uppercase;
  position: absolute;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, .2) 0 0 4px 2px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 6px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 11px;
  font-family: Helvetica, Arial;
  color: #000;
  width: 460px;
  height: 380px;
  visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
